body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gift-container {
    width: 50%;
}

.gift-image {
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.gift-image:hover {
    transform: scale(1.1);
}
